.standard-formatting {
    color: purple;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.small_text {
    font-size: 10px;
    color: purple;
}
.fuiser_mineu {
    font-size: 12px;
    color: purple;
}
img {
    float: right;
}
.floater {
    float: right;
}
h1 {
    font-size: 40px;
}
.b {
    color: blue;
 }
.g {
    color: green;
}
    nav {
        background-color: green;
        }
        nav ul {
        list-style-type: none; /* removes bullet points */
        margin: 0;
        padding: 0;
        display: flex;
        }
        nav a {
        color: blue;
        text-decoration: none; /*removes underline*/
        padding: 14px 20px; 
        display: block;
        transition: 0.7s;
        }
        /* Hover effect */
        nav a:hover {
        background-color: blue;
        color: green;
        font-weight: bold;
        }
        /* Active (current page) link */
        nav a.active {
        background-color: black;  /* a green highlight */
        color: white
        }